@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)),
    url("background.png");
  background-size: cover;
}

.home-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.75)),
    url("background.png");
  background-size: cover;
}

.section-bg {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(63, 161, 66, 1) 40%,
    rgba(6, 6, 6, 1) 100%
  );
}

.animation {
  animation: animation 2s infinite linear;
  background: linear-gradient(to right, #2c2c2c 4%, #333 25%, #2c2c2c 36%);
  background-size: 1000px 100%;
}

@keyframes animation {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 100px 0;
  }
}
